.user-avatar {
  position: relative;
  width: 200px;
  height: 200px;

  &__upload {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    cursor: pointer;
  }
}