.messages-modal {

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .modal-body {
    display: flex;
    flex-direction: column;

    &__my-message {
      .message-template;
      justify-content: end;
      align-self: flex-end;

      .message-content {
        order: 2;
        white-space: pre-line;
        font-size: 22px;
      }

      .message-date {
        order: 1;
        white-space: nowrap;
        font-size: 12px;
      }
    }

    &__message {
      .message-template;
      justify-content: start;
      align-self: flex-start;

      .message-content {
        white-space: pre-line;
        font-size: 22px;
      }

      .message-date {
        white-space: nowrap;
        font-size: 12px;
      }
    }
  }

  &__footer {
    display: flex;
    position: relative;

    &_svg {
      margin-right: 12px;
      width: 90px;
      height: 50px;
      display: flex;
      align-items: center;
      gap: 6px;
      cursor: pointer;
      position: absolute;
      top: 2px;
      right: 110px;
    }

    textarea {
      position: relative;
      border-radius: 8px 0 0 8px !important;
      resize: none !important;
      height: 100% !important;
    }

    button {
      border-radius: 0 8px 8px 0 !important;
      height: 54px !important;
    }
  }
}

.sound-wave {
  background-color: red;
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px 0 0 8px;
}

.sound-wave-hidden {
  display: none;
}

.message-template {
  padding: 12px;
  margin-top: 12px;
  width: auto;
  height: auto;
  display: flex;
  border-radius: 8px;
  gap: 12px;
}