@import '../../core-less/variables';
@import '../../core-less/media-breakpoints';

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: @DARK;

  &__left-block {
    color: white;
    display: flex;
    align-items: center;
  }

  &__right-block {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}