.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper .swiper-slide {
  width: auto;
  height: 150px;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.swiper-slide img {
  object-fit: cover;
  position: center;
  cursor: pointer;
  width: auto;
  height: 100%;
}
