.dark {
  @import '~antd/lib/style/themes/default.less';
  @import '~antd/dist/antd.dark.less';
  @import "../antCustoms";

  background-color: #434343;
  @primary-color: #d5b50b;
  @boxShadowColor: @orange-9;
  @textShadow: 1px 1px 2px black, 0 0 1em red;

  .wrapper{
    &__loading{
      color: #d9d9d9;
      background-color: #262626;
    }
  }


  .header, .wrapper__header {
    background-color: #141414;
    box-shadow: 0 0 20px 10px #141414;
    z-index: 5;
  }


  .profile, .edit-profile {
    background-color: #262626;
    box-shadow: 0 0 20px 10px #262626;

    .video{
      background-color: #1A1A1D;
    }

    .user-info {
      text-shadow: @textShadow
    }

    .user-avatar__img {
      box-shadow:   0 0 20px 10px @boxShadowColor;;
    }

    .posts__list_item {
      border: 2px solid @border-color-base;
    }

    .socials-networks {
      //box-shadow: @boxShadow;
      border: 2px solid @border-color-base;

      &__link {
        &_present {
          border: 2px solid #595959;
          box-shadow:   0 0 6px 2px @boxShadowColor;;
        }
      }
    }

    .all-likes {
      border-bottom: 2px solid @border-color-base;
    }

    .all-dislikes {
      border-bottom: 2px solid @border-color-base;
    }

  }

  .all-likes-modal__item {
    border-bottom: 2px solid @border-color-base;
  }

  .all-users {
    .users-list__item_avatar {
      box-shadow:   0 0 20px 10px @boxShadowColor;;
    }

    .users-list__item_name {
      text-shadow: @textShadow
    }
  }
}