.dark {
  @import '~antd/lib/style/themes/default.less';
  @import '~antd/dist/antd.dark.less';
  @import "../antCustoms";

  background-color: #434343;
  @primary-color: #d5b50b;


  .header, .wrapper__header {
    background-color: #141414;
  }

  .profile {
    background-color: #262626;
    .user-info{
      text-shadow: 1px 1px 2px black, 0 0 1em red;
    }

    .user-avatar__img {
      box-shadow: 0px 0px 20px 10px rgba(@orange-9);
    }


    .posts__list_item {
      background: @gold-5;
    }

  }





}