@import "../variables/colors";


.darkTheme {
  @import '~antd/lib/style/themes/default.less';
  @import '~antd/dist/antd.dark.less';
  @import "../antCustoms";


  .header, .wrapper__header{
    background-color: @gray-12;
  }

  .profile{
    background-color: @gray-10;
  }

  background-color: @gray-11;
  @primary-color: #d5b50b;


}