@import '~antd/lib/style/themes/default.less';
@import "./core-less/null-default-style";
@import "./core-less/fonts";
@import "core-less/antCustoms";


html, body {
  height: 100vh;
  font-size: 14px;
  font-family: @ROBOTO;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;

}

::-webkit-scrollbar-thumb {
  background-color: #262626;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #d9d9d9;
}
