@import "./variables/colors";
@import '~antd/dist/antd.less';
@import "../core-less/variables/baseStyle";

@border-radius-base: @br--base;


.ant-typography {
  margin: 0 !important;
  line-height: 18px !important;
}

